.content {
    background-color: #FDF0D5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    padding: 20px;
    width: 500px;
}

.content h3 {
    margin-top: 10px;
}

.new-item {
    margin: auto;
}

.item-list {
    margin-top: 30px;
    list-style: none;
    width: 100%;
}

.item {
    align-items: center;
    background-color: #fdf5e6;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0 15px;
}

#buttons {
    align-items: center;
    display: flex;
}

#edit {
    height: 48px;
}

#comprado {
    background-color: #008000;
}

#comprado:active {
    background-color: white;
    color: #008000;
    outline: 2px solid #008000;
}

img {
    cursor: pointer;
    height: 40px;
    margin: 0 5px;
}

@media (max-width: 600px) {
    .content {
        width: 400px;
    }
    .item {
        height: 70px;
    }
}