<div class="content">
    <item-form class="new-item" (getName)="addItem($event)" />
    @for (item of items; track item.id) {
        @if (item.status == "Comprar") {
            <ul class="item-list">
            
                <li class="item">
                    @if (!item.edit) {
                        <div id="name">
                            <p id="item-name">{{ item.name }}</p>
                        </div>
                        <div id="buttons">
                            <button (click)="updateStatus(item)">{{ item.status }}</button>
                            <img id="edit" src="edit.png" alt="Edit" (click)="updateItemName(item)">
                            <img src="trash.png" alt="Remover" (click)="deleteItem(item)">
                        </div>
                    } @else {
                        <label for="text-box">
                            Novo nome:
                            <input type="text" class="text-box" [(ngModel)]="itemName" />
                        </label>
                        <button (click)="updateItemName(item)">Confirmar</button>
                    }
                </li>                
            </ul>
        }
    }
    <h3>Comprados:</h3>
    @for (item of items; track item.id) {
        @if (item.status == "Comprado") {
            <ul class="item-list">
                <li class="item">
                    @if (!item.edit) {
                        <div id="name">
                            <s id="item-name">{{ item.name }}</s>
                        </div>
                        <div id="buttons">
                            <button id="comprado" (click)="updateStatus(item)">{{ item.status }}</button>
                            <img id="edit" src="edit.png" alt="Edit" (click)="updateItemName(item)">
                            <img src="trash.png" alt="deleter" (click)="removeItem(item)">
                        </div>
                    } @else {
                        <label for="text-box">
                            Novo nome:
                            <input type="text" id="text-box" [(ngModel)]="itemName" />
                        </label>
                        <button (click)="updateItemName(item)">Confirmar</button>
                    }              
                </li>
            </ul>
        }
    }
</div>
